<!DOCTYPE html>
<html>
    <head>
        <title>My personal travel tracker</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div id="content">
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
            <nav>
                <a href="/">Home</a>
                {% if current_user.is_authenticated %}
                <a href="/user_page/{{ current_user.username }}">User Page</a>
                <div>                    
                    <a href="/add_trip">New Trip</a>
                    <a href="/add_country">New Country</a>
                    
                    <a href="/logout">Log Out</a>
                {% else %}
                    <a href="/signup">Sign Up</a>
                    <a href="/login">Log In</a>                     
                </div>
                {% endif %}
            </nav>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>