{% extends 'base.html' %}
{% block content %}

<h1>Country - {{ country.name }}</h1>

<p><img src="{{ country.img_url }}" width="250px" height="250px"></p>

<p><strong>Climate:</strong> {{ country.climate }}</p>

<p><strong>Language:</strong> {{ country.language }}</p>

<h4>Trips: </h4>
    <ul>
        {% for trip in country.trips %}
            <li><a href="/trip/{{ trip.id }}">{{ trip.trip_name }}</a></li>
        {% endfor %}
    </ul>

{% if current_user.is_authenticated %}
<h2>Edit Country</h2>

<form method="POST" action="{{ url_for('main.add_country')}}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter your information:</legend>

        {{ form.name.label }}
        {{ form.name }}

        {{ form.climate.label }}
        {{ form.climate }}
   

        {{ form.language.label }}
        {{ form.language }}

        {{ form.img_url.label }}
        {{ form.img_url }}

        {{ form.submit }}
    </fieldset>
</form>
{% endif %}

{% endblock %}