{% extends 'base.html' %}
{% block content %}

<h1><a href="/country/{{ trip.country.id }}" >{{ trip.trip_name }}</a></h1>

<p><img src="{{ trip.country.img_url }}" width="100%"></p>

<p><strong>Date of Arrival</strong> {{ trip.date_arrived }}</p>

<p><strong>Length of Trip</strong> {{ trip.trip_length }}</p>

<p><strong> {{ trip.past_or_future }}</strong> trip</p>

<p><strong>Highlight</strong> {{ trip.highlight }}</p>

{% if current_user.is_authenticated %}
<h2>Edit Trip</h2>

<form method="POST" action="{{ url_for('main.trip_page', trip_id=trip_id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter your information:</legend>

        {{ form.trip_name.label }}
        {{ form.trip_name }}

        {{ form.past_or_future.label }}
        {{ form.past_or_future }}

        {{ form.country.label }}
        {{ form.country }}

        {{ form.date_arrived.label }}
        {{ form.date_arrived }}

        {{ form.trip_length.label }}
        {{ form.trip_length }}

        {{ form.highlight.label }}
        {{ form.highlight }}

        {{ form.submit }}

        {{ form.trip_type.label }}
        {{ form.trip_type }}

        {{ form.past_or_future.label }}
        {{ form.past_or_future }}

        {{ form.country.label }}
        {{ form.country }}

        {{ form.date_arrived.label }}
        {{ form.date_arrived }}

        {{ form.trip_length.label }}
        {{ form.trip_length }}

        {{ form.highlight.label }}
        {{ form.highlight }}

        {{ form.submit }}
    </fieldset>
</form>
{% endif %}

{% endblock %}